In [9]:
import pandas as pd 
places = pd.read_csv('place_4.csv')
places = places[['city', 'rating']]
all_places = places.groupby(['city']).mean()
all_places

               rating
city
Casablanca   4.255556
Chefchaouen  4.250000
Fes          4.300000
Marrakech    4.288889
Rabat        4.340000
Tangier      4.200000